<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lin.mapper.StockConceptMapper">
    <select id="getAll" resultType="com.lin.bean.stockknow.StockConcept">
        select * from stock_concept where id not in (select concept_id from  stock_market_concept)
    </select>
</mapper>