<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu" id="side-menu">
            <li><a><i class="fa fa-book"></i>规则<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a class="menuItem" href="/stockRuleManage">祖训管理</a></li>
                    <li><a class="menuItem" href="/tradeRuleManage">交易规则管理</a></li>
                    <li><a class="menuItem" href="/stockRule">祖训</a></li>
                    <li><a class="menuItem" href="/tradeRule">交易规则</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-newspaper-o"></i> 行情先手 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a class="menuItem" href="/hotSpotIndex">焦点新闻-东财</a></li>
                    <li><a class="menuItem" href="/wallStreetNews">华尔街新闻</a></li>
                    <li><a class="menuItem" href="/documentIndex">个股公告-东财</a></li>
                    <li><a class="menuItem" href="/todayhot">今天炒什么</a></li>
                    <li><a class="menuItem" href="/zhangtingjiantu">涨停简图</a></li>
                    <li><a class="menuItem" href="/allData">一键复盘</a></li>
                    <li><a class="menuItem" href="/liveStream">行情播报</a></li>
                    <li><a class="menuItem" href="/featuredBoard">精选板块</a></li>
                    <li><a class="menuItem" href="/rankIncreaseData">区间涨幅</a></li>
                    <li><a class="menuItem" href="/stockThemeChance">主题机会</a></li>
                    <li><a class="menuItem" href="/limitUpAnalyze">涨停原因</a></li>
                    <!--                    <li><a href="/stockRuleManage">祖训管理</a></li>-->
                    <!--                    <li><a href="/tradeRuleManage">交易规则管理</a></li>-->
                    <!--                    <li><a href="/stockRule">祖训</a></li>-->
                </ul>
            </li>
            <li><a><i class="fa fa-bar-chart"></i> 趋势 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a class="menuItem" href="/boardandconcepts">板块概念早知</a></li>
                    <li><a class="menuItem" href="/increaseRank">涨幅榜</a></li>
                    <li><a class="menuItem" href="/decreaseRank">跌幅榜</a></li>
                    <li><a class="menuItem" href="/limitUpData">昨日涨停</a></li>
                    <li><a class="menuItem" href="/stockIndex">个股快速涨幅</a></li>
                    <li><a class="menuItem" href="/stockBuyChange">大买盘</a></li>
                    <li><a class="menuItem" href="/autionTrading1">集合竞价</a></li>
                    <li><a class="menuItem" href="/autionNoMatched">竞价未匹配量排行</a></li>
                    <li><a class="menuItem" href="/popularStock">热门排行</a></li>
                    <li><a class="menuItem" href="/bigOrder">大单净量</a></li>
                    <li><a class="menuItem" href="/zhaban">炸板池</a></li>
                    <li><a class="menuItem" href="/conceptRank">板块分析</a></li>
                    <li><a class="menuItem" href="/conceptAndIndex">行业指数</a></li>
                    <li><a class="menuItem" href="/limitUpPool">涨停</a></li>
                    <li><a class="menuItem" href="/limitDownPool">跌停</a></li>
                    <li><a class="menuItem" href="/lianBan">连板池</a></li>
                    <li><a class="menuItem" href="/morningStrongStock">早上高开</a></li>
                    <li><a class="menuItem" href="/myStock">自选股</a></li>
                    <!--                    <li><a href="/strongStock">最强风口</a></li>-->
                    <li><a class="menuItem" href="/top100Rank">top100</a></li>
                    <li><a class="menuItem" href="/trendRank">趋势榜</a></li>
                    <li><a class="menuItem" href="/inflowAndOutFlow">资金流入流出</a></li>
                    <li><a class="menuItem" href="/stockSixtyDayChange">60日大幅上涨</a></li>
                    <li><a class="menuItem" href="/hongkongStock">港股</a></li>
                    <li><a class="menuItem" href="/timeStock2">时间轴</a></li>
                    <li><a class="menuItem" href="/tradeRank">成交量排行</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-money"></i>问财选股<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a class="menuItem" href="/weakToStrong">弱转强</a></li>
                    <li><a class="menuItem" href="/dragonFirstGreen">龙头首阴</a></li>
                    <li><a class="menuItem" href="/increaseYesterday">超昨日前高</a></li>
                    <li><a class="menuItem" href="/newHigh">创60日新高</a></li>
                    <li><a class="menuItem" href="/stockPackaging">反包</a></li>
                    <li><a class="menuItem" href="/stockBuyLow">低吸</a></li>
                    <li><a class="menuItem" href="/stockIncreaseVolume">2倍放量涨幅大于3.5%</a></li>
                    <li><a class="menuItem" href="/stockDayangLine">上下影线5日有过涨停</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-heartbeat"></i> 市场情绪 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a class="menuItem" href="/popularStock">热门排行</a></li>
                    <li><a class="menuItem" href="/rps">rps板块</a></li>
                    <li><a class="menuItem" href="/ratioRanking">量比排行</a></li>
                    <li><a class="menuItem" href="/volumeTrend">成交趋势</a></li>
                    <li><a class="menuItem" href="/marketVolume">大盘情绪</a></li>
                    <li><a class="menuItem" href="/tigerAndDragon">龙虎榜</a></li>
                    <li><a class="menuItem" href="/industryAnalyze">产业投研</a></li>
                    <li><a class="menuItem" href="/cloudPhoto">大盘云图</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-battery-half"></i> 入门了解 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a class="menuItem" href="/stockStudyNew">学习</a></li>
                    <li><a class="menuItem" href="/stockStudy">信息录入</a></li>
                    <li><a class="menuItem" href="/stockConcept">概念</a></li>
                    <li><a class="menuItem" href="/stockBoard">板块</a></li>
                    <li><a class="menuItem" href="/stockMarketConceptBoard">个股入门</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-keyboard-o"></i>复盘啦<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a class="menuItem" href="/fupanla">复盘啦</a></li>
                    <li><a href="#chartjs2.html">Chart JS2</a></li>
                    <li><a href="#morisjs.html">Moris JS</a></li>
                    <li><a href="#echarts.html">ECharts</a></li>
                    <li><a href="#other_charts.html">Other Charts</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#fixed_sidebar.html">Fixed Sidebar</a></li>
                    <li><a href="#fixed_footer.html">Fixed Footer</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="menu_section">
        <h3>Live On</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#e_commerce.html">E-commerce</a></li>
                    <li><a href="#projects.html">Projects</a></li>
                    <li><a href="#project_detail.html">Project Detail</a></li>
                    <li><a href="#contacts.html">Contacts</a></li>
                    <li><a href="#profile.html">Profile</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#page_403.html">403 Error</a></li>
                    <li><a href="#page_404.html">404 Error</a></li>
                    <li><a href="#page_500.html">500 Error</a></li>
                    <li><a data-th-href="@{/plain-page}">Plain Page</a></li>
                    <li><a href="#login.html">Login Page</a></li>
                    <li><a data-th-href="@{pricing-tables}">Pricing Tables</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#level1_1">Level One</a>
                    <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li class="sub_menu"><a href="#level2.html">Level Two</a>
                            </li>
                            <li><a href="#level2_1">Level Two</a>
                            </li>
                            <li><a href="#level2_2">Level Two</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#level1_2">Level One</a>
                    </li>
                </ul>
            </li>
            <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span
                    class="label label-success pull-right">Coming Soon</span></a></li>
        </ul>
    </div>

</div>