<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> 新闻公告 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/hotSpotIndex">焦点新闻-东财</a></li>
                    <li><a href="/wallStreetNews">华尔街新闻</a></li>
                    <li><a href="/documentIndex">个股公告-东财</a></li>
                    <li><a href="/todayhot">今天炒什么</a></li>
                    <li><a href="/zhangtingjiantu">涨停简图</a></li>
                    <li><a href="/allData">一键复盘</a></li>
                    <li><a href="/liveStream">行情播报</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-edit"></i> 趋势 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/boardandconcepts">板块概念早知</a></li>
                    <li><a href="/increaseRank">涨幅榜</a></li>
                    <li><a href="/decreaseRank">跌幅榜</a></li>
                    <li><a href="/limitUpData">昨日涨停</a></li>
                    <li><a href="/stockIndex">个股快速涨幅</a></li>
                    <li><a href="/stockBuyChange">大买盘</a></li>
                    <li><a href="/autionTrading1">集合竞价</a></li>
                    <li><a href="/autionNoMatched">竞价未匹配量排行</a></li>
                    <li><a href="/popularStock">热门排行</a></li>
                    <li><a href="/bigOrder">大单净量</a></li>
                    <li><a href="/zhaban">炸板池</a></li>
                    <li><a href="/conceptRank">板块分析</a></li>
                    <li><a href="/conceptAndIndex">行业指数</a></li>
                    <li><a href="/limitUpPool">涨停</a></li>
                    <li><a href="/limitDownPool">跌停</a></li>
                    <li><a href="/lianBan">连板池</a></li>
                    <li><a href="/strongStock">最强风口</a></li>
                    <li><a href="/top100Rank">top100</a></li>
                    <li><a href="/trendRank">趋势榜</a></li>
                    <li><a href="/inflowAndOutFlow">资金流入流出</a></li>
                    <li><a href="/stockSixtyDayChange">60日大幅上涨</a></li>
                    <li><a href="/hongkongStock">港股</a></li>
                    <li><a href="/timeStock">时间轴</a></li>
                    <li><a href="/tradeRank">成交量排行</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-desktop"></i>问财选股<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/weakToStrong">弱转强</a></li>
                    <li><a href="/dragonFirstGreen">龙头首阴</a></li>
                    <li><a href="/increaseYesterday">超昨日前高</a></li>
                    <li><a href="/newHigh">创60日新高</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-desktop"></i> 市场情绪 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/popularStock">热门排行</a></li>
                    <li><a href="/rps">rps板块</a></li>
                    <li><a href="/ratioRanking">量比排行</a></li>
                    <li><a href="/volumeTrend">成交趋势</a></li>
                    <li><a href="/marketVolume">大盘情绪</a></li>
                    <li><a href="/tigerAndDragon">龙虎榜</a></li>
                    <li><a href="/industryAnalyze">产业投研</a></li>
                    <li><a href="/cloudPhoto">大盘云图</a></li>
                    <li><a href="#widgets.html">Widgets</a></li>
                    <li><a href="#invoice.html">Invoice</a></li>
                    <li><a href="#inbox.html">Inbox</a></li>
                    <li><a href="#calendar.html">Calendar</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-table"></i> 入门了解 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/stockStudyNew">学习</a></li>
                    <li><a href="/stockStudy">信息录入</a></li>
                    <li><a href="/stockConcept">概念</a></li>
                    <li><a href="/stockBoard">板块</a></li>
                    <li><a href="/stockMarketConceptBoard">个股入门</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-bar-chart-o"></i>复盘啦<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/fupanla">复盘啦</a></li>
                    <li><a href="#chartjs2.html">Chart JS2</a></li>
                    <li><a href="#morisjs.html">Moris JS</a></li>
                    <li><a href="#echarts.html">ECharts</a></li>
                    <li><a href="#other_charts.html">Other Charts</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#fixed_sidebar.html">Fixed Sidebar</a></li>
                    <li><a href="#fixed_footer.html">Fixed Footer</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="menu_section">
        <h3>Live On</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#e_commerce.html">E-commerce</a></li>
                    <li><a href="#projects.html">Projects</a></li>
                    <li><a href="#project_detail.html">Project Detail</a></li>
                    <li><a href="#contacts.html">Contacts</a></li>
                    <li><a href="#profile.html">Profile</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#page_403.html">403 Error</a></li>
                    <li><a href="#page_404.html">404 Error</a></li>
                    <li><a href="#page_500.html">500 Error</a></li>
                    <li><a data-th-href="@{/plain-page}">Plain Page</a></li>
                    <li><a href="#login.html">Login Page</a></li>
                    <li><a data-th-href="@{pricing-tables}">Pricing Tables</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#level1_1">Level One</a>
                    <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li class="sub_menu"><a href="#level2.html">Level Two</a>
                            </li>
                            <li><a href="#level2_1">Level Two</a>
                            </li>
                            <li><a href="#level2_2">Level Two</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#level1_2">Level One</a>
                    </li>
                </ul>
            </li>
            <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span
                    class="label label-success pull-right">Coming Soon</span></a></li>
        </ul>
    </div>

</div>